<!--Descriptive page names, messages and instructions-->
<h2 class="heading"><%= t(".page_heading", tag_set_title: @tag_set.title) %></h2>
<!--/descriptions-->

<!--subnav-->
<ul class="navigation actions">
  <li><%= link_to t(".navigation.back", tag_set_title: @tag_set.title), tag_set_path(@tag_set_nomination.owned_tag_set) %></li>
  <li><%= link_to t(".navigation.tag_sets"), tag_sets_path %></li>
</ul>
<!--/subnav-->

<!--main content-->  
<ul class="notes">
  <li><%= t(".notes.canonical_preferred") %></li>
  <li><%= t(".notes.changes_or_rejection") %></li>
</ul>

<h3 class="landmark heading"><%= t(".form.landmark") %></h3>

<%= error_messages_for :tag_set_nomination %>

<%= form_for(@tag_set_nomination, html: {
        url: (@tag_set_nomination.new_record? ? tag_set_nominations_path(@tag_set) : tag_set_nomination_path(@tag_set, @tag_set_nomination)),
        method: (@tag_set_nomination.new_record? ? :post : :put),
        class: "nominations tagset post" }) do |f| %>
  <fieldset>
    <legend><%= t(".form.general.legend") %></legend>
    <h4 class="heading"><%= t(".form.general.legend") %></h4>
    <dl>
      <dt><%= t(".form.general.tag_set") %></dt>
      <dd><%= link_to @tag_set_nomination.owned_tag_set.title, tag_set_path(@tag_set_nomination.owned_tag_set) %></dd>
        
      <dt><%= f.label :pseud_id, t(".form.general.pseud") %></dt>
      <dd><%= f.select :pseud_id, current_user.pseuds.collect { |p| [p.name, p.id] } %></dd>
    </dl>
  </fieldset>
  <fieldset>
    <legend><%= t(".form.nominations.legend") %></legend>
    <h4 class="heading"><%= t(".form.nominations.legend") %></h4>
    <p class="notes"><%= nomination_notes(@limit) %></p>

    <% if @limit[:fandom] > 0 %>

      <%# char and relationship nominations grouped with fandom %>
      <%= render "tag_nominations_by_fandom", f: f %>
    
      <%# freeforms on their own %>
      <% if @limit[:freeform] > 0 %>
        <%= render "tag_nominations", f: f, tag_type: "freeform" %>
      <% end %>

    <% else %>
  
      <%# nominations all on same level in fieldset/dls %>
      <% %w(character relationship freeform).each do |tag_type| %>
        <% if @limit[tag_type] > 0 %>
          <%= render "tag_nominations", f: f, tag_type: tag_type %>
        <% end %>
      <% end %>

    <% end %>
  </fieldset>

  <fieldset>
  	<legend><%= t(".form.submit.legend") %></legend>
    <p class="submit">
      <%= f.submit t(".form.submit.button") %>
    </p>
  </fieldset>
<% end %>
<!--/content-->
