<h2 class="heading"><%= @language.name %></h2>

<!--subnav-->
<% if logged_in_as_admin? %>
  <p class="navigation actions" role="navigation">
    <%= link_to ts('Edit Language'), edit_language_path(@language) %>
  </p>
<% end %>
</p>
<!--/subnav-->

<p><%= link_to t('.work_count', :default => "%{count} works", :count => @language.work_count), language_works_path(@language) %> in <%= @language.fandom_count %> fandoms</p>

<% if @works.blank? %>
  <% # The recent scope means this page can confusingly appear blank. %>
  <p><%= ts("No works posted in %{language} in the last 4 weeks.", language: @language.name) %>
<% else %>
  <h3 class="heading"><%= ts("Most recent works:") %></h3>
  <ul class="work index group">
    <%= render "works/work_blurb", collection: @works, as: :work %>
  </ul>
<% end %>
