<dl class="invitation index">
  <dt><%= ts("Sender") %></dt>
  <dd><%= creator_link(invitation) %></dd>
  <dt><%= ts("Invitation token") %></dt>
  <dd><%= invitation.token %></dd>
  <dt><label for="signup_url"><%= ts("Sign-up URL") %></label></dt>
  <dd>
    <% unless invitation.redeemed_at %>
      <% url = invitation.external_author ?
                 claim_url(invitation_token: invitation.token) :
                 signup_url(invitation_token: invitation.token) %>
      <input type="text" id="signup_url" value="<%= url %>" title="<%= ts("Sign-up URL") %>" />
    <% end %>
  </dd>
  <dt><%= ts("Sent to") %></dt>
  <dd>
    <% if invitation.redeemed_at %>
      <%= invitation.invitee_email %>
    <% else %>
      <%= form_for invitation, html: { class: "simple" } do |f| %>
        <p>
          <%= f.label :invitee_email, ts("Enter an email address") %>
          <%= f.text_field :invitee_email %>
          <%= hidden_field_tag :user_id, @user.try(:login) %>
          <span class="submit actions"><%= f.submit %></span>
        </p>
      <% end %>
    <% end %>
  </dd>
  <dt><%= ts("Sent at") %></dt>
  <dd><%= invitation.sent_at %></dd>
  <dt><%= ts("Redeemed by") %></dt>
  <dd><%= invitee_link(invitation) %></dd>
  <dt><%= ts("Redeemed at") %></dt>
  <dd><%= invitation.redeemed_at %></dd>
  <dt><%= ts("Created at") %></dt>
  <dd><%= invitation.created_at %></dd>
</dl>
