<h3 class="landmark heading"><%= ts("Filters") %></h3>
<%= form_tag admin_posts_path, :method => :get do %>
  <dl>
    <dt><%= label_tag :tag, ts("Tag:") %></dt>
    
    <dd><%= select_tag :tag, ('<option></option>' + options_from_collection_for_select(@tags, :id, :name, params[:tag])).html_safe %></dD>
    
    <dt><%= label_tag :language_id, ts("Language:") %></dt>
  
    <dd><%= select_tag :language_id, ('<option></option>' + options_from_collection_for_select(Language.default_order, :short, :name, params[:language_id])).html_safe %></dd>
    
    <dt class="landmark"><%= ts("Submit") %></dt>
    <dd><%= submit_tag ts('Go') %></dd>
  </dl>
<% end %>
