<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts("Invite New Users") %></h2>
<!--/descriptions-->
<!--subnav-->
<ul class="navigation actions" role="navigation">
  <li><%= link_to ts("Manage Requests"), user_invite_requests_path %></li>
  <li><%= link_to ts("Manage Queue"), manage_invite_requests_path %></li>
</ul>
<!--/subnav--> 
<!--main content-->
<%= render 'create_invitation_form' %>

<%= form_tag url_for(:controller => 'admin/admin_invitations', :action => 'invite_from_queue'), :class => "simple post" do %>
  <fieldset>
    <legend><%= ts("Invite from Queue") %></legend>
		<h3 class="heading"><%= ts("Invite from Queue") %></h3>
		<p><%= ts("Send invite codes to people in our") %> <%= link_to ts('invitations queue'), invite_requests_path %></p>
		<p><%= ts("There are %{request_count} requests in the queue.", :request_count => InviteRequest.count) %></p>
		<p>
		  <%= label_tag :invite_from_queue, ts('Number of people to invite') %>
		  <%= text_field_tag :invite_from_queue  %>
		  <span class="submit actions">
		    <%= submit_tag ts('Invite from queue') %>
		  </span>
		</p>
  </fieldset>
<% end %>

<%= form_tag url_for(:controller => 'admin/admin_invitations', :action => 'grant_invites_to_users'), :class => "simple post" do %>
  <fieldset>
  <legend><%= ts("Give Invites to Current Users") %></legend>
	<h3 class="heading"><%= ts("Give Invites to Current Users") %></h3>
	  <dl>
      <dt><%= label_tag :number_of_invites, ts('Number of invitations') %></dt>
      <dd><%= text_field_tag :number_of_invites %></dd>
		  <dt><%= label_tag :user_group, ts('Users') %></dt>
      <dd><%= select_tag :user_group, "<option>All</option><option>With no unused invitations</option>".html_safe  %></dd>
		  <dt class="landmark"><%= ts("Submit") %></dt>
	    <dd class="submit actions">
	      <%= submit_tag ts("Generate invitations") %>
	    </dd>
	  </dl>
	</fieldset>
<% end %>

<%= render 'track_invitations_form' %>
<!--/content-->
