<!--Descriptive page name, messages and instructions-->
<h2 class="heading">
  <% if @subscribable_type %>
    <%= t(".page_heading.#{@subscribable_type}") %>
  <% else %>
    <%= t(".page_heading.all") %>
  <% end %>
</h2>
<!--/descriptions-->

<!--subnav-->
<h3 class="landmark heading"><%= t("a11y.navigation") %></h3>
<ul class="navigation actions">
  <li>
    <%= span_if_current(t(".navigation.all"),
          user_subscriptions_path(@user),
          @subscribable_type.blank?) %>
  </li>
  <li>
    <%= span_if_current(t(".navigation.series"),
          user_subscriptions_path(@user, type: "series"),
          @subscribable_type == "series") %>
  </li>
  <li>
    <%= span_if_current(t(".navigation.user"),
          user_subscriptions_path(@user, type: "users"),
          @subscribable_type == "users") %>
  </li>
  <li>
    <%= span_if_current(t(".navigation.work"),
          user_subscriptions_path(@user, type: "works"),
          @subscribable_type == "works") %>
  </li>
  <li>
    <% if @subscribable_type %>
      <%= link_to t(".navigation.delete_all.#{@subscribable_type}"),
            confirm_delete_all_user_subscriptions_path(@user, type: @subscribable_type) %>
    <% else %>
      <%= link_to t(".navigation.delete_all.all"),
            confirm_delete_all_user_subscriptions_path(@user) %>
    <% end %>
  </li>
</ul>
<!--/subnav-->

<!--main content-->
<%= will_paginate @subscriptions %>

<h3 class="landmark heading"><%= t(".heading.landmark.list") %></h3>
<p><b>Note:</b> "Details" currently <em>toggles</em> information that is already present
(but not visible) when the page loads. For performance, the information should
not be loaded until "Details" is pressed. (The user won't notice a difference.)</p>

<ul class="subscription index group">
  <% @subscriptions.each do |subscription| %>
    <% type = subscription.subscribable_type %>
    <% subscribable = subscription.subscribable %>
    <% name = subscription.name %>
    <li class="<% type.downcase %> item blurb group" id="subscription_<%= subscription.id %>">
      <div class="header module">
        <h4 class="heading">
          <%= link_to(name, subscribable) %>
          <% case subscription.subscribable_type %>
          <% when "Work" %>
            <%= t(".work") if @subscribable_type.blank? %>
            <%= t(".byline_html", creators: byline(subscription.subscribable)) %>
          <% when "Series" %>
            <%= t(".series") if @subscribable_type.blank? %>
            <%= t(".byline_html", creators: byline(subscription.subscribable)) %>
          <% end %>
        </h4>
      </div>
      <% # remove "toggled" class at end to make this visible %>
      <% subscribable_classes = "#{type.downcase}" %>
      <blockquote id="subscription_<%= subscription.id %>_subscribable" class="<%= type.downcase %> <%= 'item picture' if type == 'User' %> blurb group toggled">
        <% # these modules should only be loaded on request %>
        <% if type == "User" %>
          <% # the exisiting author blurb is intended for pseuds %>
          <% author = Pseud.find(subscribable.default_pseud.id) %>
          <%= render "people/author_module", author: author %>
        <% end %>
        <%= render "works/work_module", work: subscribable if type == "Work" %>
        <%= render "series/series_module", series: subscribable if type == "Series" %>
      </blockquote>
      <ul class="actions">
        <li>
          <% target = "subscription_#{subscription.id}_subscribable" %>
          <button class="<%= target %>_open expanded">
            <%= ts("Details") %>
          </button>
          <button class="<%= target %>_close collapsed hidden">
            <%= ts("Close Details") %>
          </button>
        </li>
        <li>
          <% # TODO use ajax-remove pattern here %>
          <% # render "form", subscription: subscription %>
          <%= form_for [current_user, subscription], :html => { :method => :delete } do |f| %>
            <%= f.submit t(".button_html", name: subscription.name) %>
          <% end %>
        </li>
      </ul>
    <% end %>
  </li>
</ul>

<%= will_paginate @subscriptions %>
<!--/content-->
