<!--SEARCHBROWSE Descriptive page name, messages and instructions-->
<h2 class="heading">
  <% if @collection %>
    <%= link_to(@collection.title, @collection) %> > <%= ts("Fandoms") %>
  <% elsif @medium %>
    <%= link_to ts("Fandoms"), media_path %> > <%= @medium.name %>
  <% else %>
    <%= link_to ts("Fandoms"), media_path %>
  <% end %>
</h2>

<noscript>
  <p><%= ts("You can search this page by pressing <kbd>CTRL+F</kbd> or <kbd>CMD+F</kbd> and entering what you are looking for.").html_safe %></p>
</noscript>

<% if @collection %>
  <div class="filters">
    <h3 class="landmark heading"><%= ts('Filters') %></h3>
    <%= form_tag '', :method => :get do %>
      <fieldset><p title="Choose media type"><%= select_tag :medium_id, options_for_select(['All Media Types'] + @media.map{|m| m.name}, params[:medium_id]) %>
      <%= submit_tag "Show" %></p></fieldset>
    <% end %>
  </div>
<% end %>
<!--/descriptions-->

<!--main content-->
<%= form_tag "", class: "showme live simple search", id: "fandom-search", role: "search", style: "display: none;" do %>
  <fieldset>
    <legend><%= ts("Search Fandoms") %></legend>
    <p>
      <%= label_tag("search_for_fandoms", ts("Search for fandoms")) %>
      <%= text_field_tag "search_for_fandoms", nil, :"autocomplete" => "off" %>    
    </p>
    <div class="results listbox group" style="display: none;">
      <h3 class="heading">
        <span class="count"></span>
        <%= ts("Fandoms Found") %>
      </h3>
      <ul class="index group"></ul>
    </div>
  </fieldset>
<% end %>

<% if @fandoms_by_letter && !@fandoms_by_letter.empty? %>
  <h3 class="landmark heading"><%= ts('Alphabet Navigation') %></h3>
  <ul class="alphabet actions" id="alphabet" role="navigation">
    <% for letter in @fandoms_by_letter.keys %>
      <li><%= link_to letter, "#letter-#{letter}" %></li>
    <% end %>
  </ul>
  <h3 class="landmark heading"><%= ts('Alphabetised List of Fandoms') %></h3>
  <ol class="alphabet fandom index group <%= 'collection' if @collection %>">
    <% @fandoms_by_letter.each_pair do |letter, fandoms| %>
      <li id='letter-<%= letter %>' class='letter listbox group'>
        <h3 class="heading">
          <%= letter %>
          <span class="action top" title="top"><%= link_to '&#8593;'.html_safe, "#alphabet" %></span>
        </h3>
        <ul class="tags index group">
          <% for fandom in fandoms %>
            <li>
              <%= link_to_tag_works_with_text(fandom, fandom.name) %>
              <% if fandom.respond_to?(:count) %>
                (<%= fandom.count %>)
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ol>
<% else %>
  <h3 class="heading"><%= ts("No fandoms found") %></h3>
<% end %>
<!--/content-->
