<!--SEARCHBROWSE descriptive page name and system messages, descriptions, and instructions.-->
<h2 class="heading"><%= ts('Fandoms') %></h2>
<!--/descriptions-->

<!--main content-->
<% @query = {} unless @query %>
<%= form_tag url_for(:controller => 'media', :action => 'index'), :class => 'json-version live simple search', :id => 'fandom-search', :role => "search", :method => :get do %>
  <fieldset>
    <legend>Search Fandoms</legend>
    <p>
      <%= label_tag("query[name]", t('fandom_search_label', :default => 'Search for fandoms')) %>
      <%= text_field_tag "query[name]", @query[:name], :id => 'search_for_fandoms', :'autocomplete' => 'off' %>

      <%= hidden_field_tag "query[type]", 'Fandom' %>
      <!--this outputs: input class="text" id="query_type" name="query[type]" type="hidden" value="Fandom"-->
      <!--normally: select id="query_type" name="query[type]" title="Choose type" & option value="Fandom"-->
      
      <%= hidden_field_tag "query[canonical]", true %>
      <!--this outputs: input class="text" id="query_canonical" name="query[canonical]" type="hidden" value="true"-->
      <!--normally: input id="canonical" name="query[canonical]" type="checkbox" value="true"-->
      
      <%= submit_tag ts('Search') %>
    </p>
    <div class="results listbox group" style="<% unless @query.present? %>display: none;<% end %> min-height: 0;">
      <h3 class="heading">
        <span class="count">
          <% if @query.present? %>
            <%= @tags.total_entries %>
          <% end %>
        </span>
        <%= t('fandom_results_heading', :default => 'Fandoms Found') %>
      </h3>
      <ul class="index group">
        <% if @query.present? %>
          <% for tag in @tags %>
            <li><%= link_to_tag_works_with_text(tag, tag.name) %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </fieldset>
<% end %>

<ul class="media fandom index group">
  <% for medium in @media %>
    <li id="medium_<%= medium.id %>" class="medium listbox group">
      <h3 class="heading">
        <%= link_to medium.name, medium_fandoms_path(medium) %>
      </h3>

      <ol class="index group">
        <% for fandom in @fandom_listing[medium] %>
          <li>
            <%= link_to_tag_works_with_text(fandom, fandom.name) %>
            <% if fandom.respond_to?(:count) %>
              (<%= fandom.count.to_s %>)
            <% end %>
          </li>
        <% end %>
      </ol>

      <% unless @fandom_listing[medium].size < 5 %>
        <p class="actions" role="navigation">
          <%= link_to ts("All %{media_type}...", :media_type => medium.name), medium_fandoms_path(medium) %>
        </p>
      <% end %>
    </li>
  <% end %>
</ul>

<!--/content-->